.container__menu-title {
  color: white
}

.container__menu-title > h1 {
  margin: 15px 0px;
  font-size: 135px;
  font-weight: bold;
  font-family: 'segoe UI', sans-serif;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 20px;
}